.about {
  background-color: white;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;


  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 500px;
      height: 500px;
      // background-color: rgb(37, 80, 124);
      border-radius: 50%;
      display: flex;
      // align-items: flex-end;
      justify-content: center;
      margin-top: 180px;
      margin-right: 200px;
      float: right;

      .img {
        height: 90%;
      }
    }
  }
  .right {
    flex: 0.5;

    .wrapper {
      width: 70%;
      height: 100%;
      margin-top: 250px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      flex-wrap: wrap;
      margin-right: 200px;

      h1 {
        font-size: 68px;
        margin-bottom: 10px;
        margin-top: 25px;
      }

      h2 {
        font-size: 30px;
        margin-bottom: 10px;
      }

      p {
        font-size: 19px;
        margin-bottom: 10px;
      }

      span {
        color: rgb(108, 153, 211);
      }

      .bikeContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;
        text-decoration: none;
        margin-top: 20px;

        .bikeicon {
          // font-style: 18px;
          margin-right: 5px;
          color: black;
          // font-size: xx-large;
          background-color: rgb(224, 209, 243);
          border-radius: 35%;
          height: 70px;
          width: 70px;
          padding: 15px;
        }
      }
      .fitnessContainer {
        display: flex;
        align-items: center;
        margin-left: 170px;
        text-decoration: none;
        margin-top: -70px;

        .fitnessicon {
          // font-style: 18px;
          margin-right: 5px;
          color: black;
          // font-size: xx-large;
          background-color: rgb(239, 240, 188);
          border-radius: 35%;
          height: 70px;
          width: 70px;
          padding: 15px;
        }
      }
      .brushContainer {
        display: flex;
        align-items: center;
        margin-left: 300px;
        text-decoration: none;
        margin-top: -70px;

        .brushicon {
          // font-style: 18px;
          margin-right: 5px;
          color: black;
          // font-size: xx-large;
          background-color: rgb(204, 226, 238);
          border-radius: 35%;
          height: 70px;
          width: 70px;
          padding: 15px;
        }
      }
    }
  }
}
