.about {
  background-color: white;
  display: flex;
  overflow: hidden;
  // width: 100%;
  // height: 100%;
//   background-image: url("../assets/aboutme.png");
// background-size: cover;


  .left {
    flex: 0.45;
    overflow: hidden;
    // background-image: url("../assets/oval.jpeg");
    // background-size: cover;
   
  

    .imgContainer {
      width: 700px;
      height: 700px;
      // background-color: rgb(37, 80, 124);
      // border-radius: 50%;
      display: flex;
      // align-items: flex-end;
      justify-content: center;
      margin-top: 100px;
      margin-right: 30px;
     
      float: right;
  

      .img {
        height: 90%;
      }
    }
  }
  .right {
    flex: 0.55;
    background-color: rgb(255, 252, 249);
    // background-color: rgb(254, 255, 248);
    .wrapper {
      width: 70%;
      height: 100%;
      margin-top: 250px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      flex-wrap: wrap;
      margin-right: 200px;

      h1 {
        font-size: 68px;
        margin-bottom: 10px;
        margin-top: 25px;
        margin-left: 75px;
        
      }

      h2 {
        font-size: 30px;
        margin-bottom: 10px;
        margin-left: 75px;
      }

      p {
        font-size: 19px;
        margin-bottom: 10px;
        margin-left: 75px;
      }

      span {
        color: rgb(65, 116, 116);
      }

      .bikeContainer {
        display: flex;
        align-items: center;
        margin-left: 80px;
        text-decoration: none;
        margin-top: 20px;

        .bikeicon {
          // font-style: 18px;
          margin-right: 5px;
          color: black;
          // font-size: xx-large;
          background-color: rgb(206, 223, 186);
          border-radius: 35%;
          height: 70px;
          width: 70px;
          padding: 15px;
        }
      }
      .fitnessContainer {
        display: flex;
        align-items: center;
        margin-left: 180px;
        text-decoration: none;
        margin-top: -70px;

        .fitnessicon {
          // font-style: 18px;
          margin-right: 5px;
          color: black;
          // font-size: xx-large;
          background-color: rgb(190, 223, 213);
          border-radius: 35%;
          height: 70px;
          width: 70px;
          padding: 15px;
        }
      }
      .brushContainer {
        display: flex;
        align-items: center;
        margin-left: 280px;
        text-decoration: none;
        margin-top: -70px;

        .brushicon {
          // font-style: 18px;
          margin-right: 5px;
          color: black;
          // font-size: xx-large;
          background-color: rgb(252, 244, 198);
          border-radius: 35%;
          height: 70px;
          width: 70px;
          padding: 15px;
        }
      }

      .flowerContainer {
        display: flex;
        align-items: center;
        margin-left: 380px;
        text-decoration: none;
        margin-top: -70px;

        .flowericon {
          // font-style: 18px;
          margin-right: 5px;
          color: black;
          // font-size: xx-large;
          background-color: rgb(220, 230, 226);
          border-radius: 35%;
          height: 70px;
          width: 70px;
          padding: 15px;
        }
      }

      .bookContainer {
        display: flex;
        align-items: center;
        margin-left: 480px;
        text-decoration: none;
        margin-top: -70px;

        .bookicon {
          // font-style: 18px;
          margin-right: 5px;
          color: black;
          // font-size: xx-large;
          background-color: rgb(190, 223, 213);
          border-radius: 35%;
          height: 70px;
          width: 70px;
          padding: 15px;
        }
      }

    }
  }
}
